/* Основные стили для страницы личного кабинета */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    padding: 100px;
    text-align: left; /* Выровнять текст по левому краю */
}

.container h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

.container p {
    font-size: 18px;
    margin: 10px 0;
}

#cartItems {
    margin-top: 20px;
    text-align: left;
}

#cartItems table {
    width: 100%;
    border-collapse: collapse;
}

#cartItems th, #cartItems td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

#logoutBtn, #checkoutBtn {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
}

#logoutBtn:hover, #checkoutBtn:hover {
    background-color: #555;
}

footer {
    display: none;
}

span {
    font-weight: bold;
}

.edit-button {
    padding: 5px 10px;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 10px; /* Добавляет немного отступа между кнопками и текстом */
    font-weight: bold;
}

.edit-button:hover {
    background-color: #555;
}

.cart-header {
    display: flex;
    align-items: center;
    justify-content: center; /* Выровнять по центру горизонтально */
    gap: 120px; /* Расстояние между кнопкой и заголовком */
    margin-top: 20px; /* Добавить отступ сверху */
}

.order-history-button {
    padding: 10px 20px;
    background-color: rgb(6, 116, 133);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.order-history-button:hover {
    background-color: rgb(86, 189, 187);
}